html {
  font-size: 62.5%;
}
.Nav {
  height: 10rem;
  width: 100%;
  display: inline-flex;
  background-color: rgb(15, 10, 10);
  color: white;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  text-transform: uppercase;
}

.logo {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}
.playnow {
  height: 5rem;
  width: 14rem;
  border-radius: 0.5rem;
  background-color: rgb(243, 66, 35);
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  justify-content: space-around;
  cursor: pointer;
}
.playnow:hover {
  background-color: white;
  color: black;
}
.riotgames {
  font-size: larger;
  text-transform: lowercase;
}
a {
  color: rgb(243, 66, 35);
  text-transform: uppercase;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
p {
  margin-top: 10rem;
  font-size: larger;
  margin-bottom: 5rem;
}

.valo {
  width: 50%;
}

.playfree {
  height: 6rem;
  width: 25rem;
  color: white;
  margin-top: 3rem;
}
.playfree:hover {
  background-color: grey;
  color: white;
}

.Clips {
  width: 100%;
  color: rgb(243, 66, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.valoimages {
  justify-content: space-between;
  height: 30rem;
  width: fit-content;
  margin-top: 5rem;
}
.images {
  display: flex;
  justify-content: center;
}
.size {
  height: 25rem;
  width: 100%;
  margin: 2rem;
  border-radius: 1rem;
  color: white;
  margin-top: 12.5rem;
  border: 0.3rem solid white;
}
.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
}
.valologo {
  height: 10rem;
  width: 20rem;
  margin-bottom: -5rem;
}
.menu {
  width: 40%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}
.teen {
  margin-bottom: 22rem;
  margin-top: 3rem;
}
.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: max-content;
}

h3 {
  margin-left: 3rem;
}

.client {
  margin-top: 30rem;
}

.latest {
  color: white;
}
.goto {
  color: white;
}

.size1 {
  height: 25rem;
  width: 40rem;
  max-width: 100%;
  margin: 2rem;
  border-radius: 1rem;
  margin-top: 7.5rem;
  border: 0.3rem solid white;
  margin-left: 3rem;
}
