.Nav {
  height: 100px;
  width: 100%;
  display: inline-flex;
  background-color: rgb(15, 10, 10);
  color: white;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  text-transform: uppercase;
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
.playnow {
  height: 50px;
  width: 140px;
  border-radius: 5px;
  background-color: rgb(243, 66, 35);
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  justify-content: space-around;
  cursor: pointer;
}
.playnow:hover {
  background-color: white;
  color: black;
}
.riotgames {
  font-size: larger;
  text-transform: lowercase;
}
a {
  color: rgb(243, 66, 35);
  text-transform: uppercase;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin-top: 100px;
  font-size: larger;
  margin-bottom: 50px;
}

.valo {
  width: 50%;
}

.playfree {
  height: 60px;
  width: 250px;
  color: white;
  margin-top: 30px;
}
.playfree:hover {
  background-color: grey;
  color: white;
}

.Clips {
  color: rgb(243, 66, 35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.valoimages {
  justify-content: space-between;
  height: 300px;
  width: fit-content;
  margin-top: 50px;
}
.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.size {
  height: 250px;
  width: 400px;
  margin: 20px;
  border-radius: 10px;
  color: white;
  margin-top: 125px;
  border: 3px solid white;
}
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
}
.valologo {
  height: 100px;
  width: 200px;
  margin-bottom: -50px;
}
.menu {
  width: 40%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.teen {
  margin-bottom: 220px;
  margin-top: 30px;
}
.bg {
  position: absolute;
  z-index: -1;
}

h3 {
  margin-left: 30px;
}

.client {
  margin-top: 300px;
}

.latest {
  color: white;
}
.goto {
  color: white;
}
